 @import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
 	font-family: 'Oswald', sans-serif;}


i {
		font-size: 30px;
}


[class*=col-] {	
	background-color: #f2f2f2;
	border: solid 1px #ccc;

}
